@import "../../app/webGhoul.scss";
@import "../../app/app.scss";

.footer {
    background-color: $main;
    color: $white;
    @media (max-width:$sm_size) {
        .footer_contain{
            display: grid !important;
            flex-wrap: nowrap !important;
        }
    }
}

.foot {
    background-color: $dark;
    color: $white;
}
